@{
    ViewData["Title"] = "Successful Registration";
}

<h1 class="mt-5 mb-5">Thank you for your submission!</h1>
<p><u>Your information was recorded:</u></p>
<p><span class="font-weight-bold">First Name:</span> <mark>@ViewBag.firstName</mark></p>
<p><span class="font-weight-bold">Last Name:</span> <mark>@ViewBag.lastName</mark></p>
<p><span class="font-weight-bold">Age:</span> <mark>@ViewBag.age</mark></p>
<p><span class="font-weight-bold">Email:</span> <mark>@ViewBag.email</mark></p>